## Question 1: Compare top words according to word counts to TF-IDF

In [1]:
import graphlab

In [2]:
people = graphlab.SFrame('people_wiki.gl')

2016-04-14 22:43:53,044 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.8.5 started. Logging: /tmp/graphlab_server_1460688231.log

This trial license of GraphLab Create is assigned to hcheung1985@gmail.com and will expire on May 11, 2016. Please contact trial@dato.com for licensing options or to request a free non-commercial license for personal or academic use.

In [3]:
john = people[people ['name']=='Elton John']

In [4]:
john

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [5]:
john['word_count'] = graphlab.text_analytics.count_words(john['text'])

In [6]:
john

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'all': 1, 'least': 1, 'pr... |
+-------------------------------+
[1 rows x 4 columns]

In [7]:
john_word_count_table = john[['word_count']].stack('word_count', 
                                new_column_name=['word', 'count'])

In [8]:
john_word_count_table

Columns:
	word	str
	count	int

Rows: 255

Data:
+----------+-------+
|   word   | count |
+----------+-------+
|  social  |   1   |
| champion |   1   |
|    be    |   1   |
|   2014   |   1   |
|  legal   |   1   |
|  became  |   1   |
|   2005   |   1   |
| december |   2   |
|    21    |   2   |
| furnish  |   2   |
+----------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
john_word_count_table.sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|  john |   7   |
|   he  |   7   |
|   on  |   6   |
| award |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

RuntimeError: Runtime Exception. Column name word_count does not exist.

In [11]:
tfidf

dtype: dict
Rows: 1
[{'all': 0.0, 'least': 0.0, 'producer': 0.0, 'heavily': 0.0, 'inducted': 0.0, 'john': 0.0, 'over': 0.0, 'named': 0.0, 'making': 0.0, 'years': 0.0, 'four': 0.0, 'openly': 0.0, 'including': 0.0, 'highestprofile': 0.0, 'its': 0.0, 'impact': 0.0, '1': 0.0, '27': 0.0, '21': 0.0, 'wed': 0.0, 'datein': 0.0, 'royal': 0.0, '1947': 0.0, 'abbey': 0.0, 'winning': 0.0, 'late': 0.0, 'to': 0.0, 'taupin': 0.0, 'born': 0.0, '2014': 0.0, 'as': 0.0, 'has': 0.0, '2013': 0.0, 'his': 0.0, 'march': 0.0, '10': 0.0, 'songwriter': 0.0, 'solo': 0.0, 'continues': 0.0, 'records': 0.0, 'five': 0.0, 'occasional': 0.0, 'they': 0.0, 'inception': 0.0, 'world': 0.0, 'one': 0.0, 'hall': 0.0, 'bestselling': 0.0, 'fivedecade': 0.0, 'knighthood': 0.0, '58': 0.0, 'artist': 0.0, 'roll': 0.0, 'inductee': 0.0, 'list': 0.0, 'events': 0.0, 'hercules': 0.0, 'announced': 0.0, 'rock': 0.0, 'alltime': 0.0, 'brit': 0.0, 'bernie': 0.0, 'england': 0.0, 'concert': 0.0, 'be': 0.0, 'diana': 0.0, 'globe': 0.0, 'artists': 0.0, 'him': 0.0, 'culture': 0.0, 'year': 0.0, 'billboard': 0.0, 'aids': 0.0, 'empire': 0.0, 'honors': 0.0, 'composers': 0.0, 'established': 0.0, 'elton': 0.0, 'for': 0.0, 'record': 0.0, 'since': 0.0, 'legal': 0.0, 'collaborated': 0.0, 'outside': 0.0, 'consecutive': 0.0, 'worked': 0.0, 'sold': 0.0, 'disney': 0.0, 'era': 0.0, 'foundation': 0.0, 'after': 0.0, '25': 0.0, '300': 0.0, 'funeral': 0.0, 'million': 0.0, 'lgbt': 0.0, 'ranked': 0.0, 'awards': 0.0, 'no': 0.0, 'become': 0.0, '100': 0.0, 'overallelton': 0.0, 'legend': 0.0, 'on': 0.0, 'hits': 0.0, 'english': 0.0, 'influential': 0.0, 'of': 0.0, 'industry': 0.0, 'annual': 0.0, 'against': 0.0, 'david': 0.0, 'musicians': 0.0, 'social': 0.0, 'samesex': 0.0, 'contribution': 0.0, 'lasting': 0.0, 'dwight': 0.0, 'first': 0.0, 'golden': 0.0, 'raised': 0.0, 'grammy': 0.0, 'civil': 0.0, 'had': 0.0, 'into': 0.0, 'lyricist': 0.0, 'number': 0.0, 'two': 0.0, 'services': 0.0, 'kennedy': 0.0, '1988': 0.0, 'composer': 0.0, 'parties': 0.0, 'tony': 0.0, '19702000': 0.0, 'career': 0.0, 'jubilee': 0.0, 'from': 0.0, 'kenneth': 0.0, 'fifty': 0.0, 'nine': 0.0, 'top': 0.0, 'cbe': 0.0, 'look': 0.0, 'copies': 0.0, 'been': 0.0, 'fight': 0.0, '2': 0.0, 'music': 0.0, 'way': 0.0, 'bisexual': 0.0, 'hollywood': 0.0, 'icon': 0.0, 'was': 0.0, 'songwriters': 0.0, 'more': 0.0, 'brits': 0.0, 'british': 0.0, 'diamond': 0.0, 'fellow': 0.0, 'champion': 0.0, 'gay': 0.0, 'received': 0.0, 'successful': 0.0, 'oscar': 0.0, 'stone': 0.0, 'award': 0.0, 'buckingham': 0.0, 'authors': 0.0, 'albums': 0.0, 'an': 0.0, 'with': 0.0, 'than': 0.0, 'he': 0.0, 'ii': 0.0, '1992': 0.0, '1994': 0.0, '1997': 0.0, '1996': 0.0, '1998': 0.0, 'hosting': 0.0, 'us': 0.0, '33': 0.0, 'marriage': 0.0, 'time': 0.0, 'involved': 0.0, 'about': 0.0, 'male': 0.0, '31': 0.0, 'performed': 0.0, 'and': 0.0, 'seven': 0.0, '30': 0.0, 'palace': 0.0, 'outstanding': 0.0, 'december': 0.0, 'is': 0.0, 'partnership': 0.0, 'pianist': 0.0, 'commander': 0.0, '1980s': 0.0, 'single': 0.0, 'at': 0.0, 'have': 0.0, 'in': 0.0, 'partner': 0.0, 'fame': 0.0, 'film': 0.0, 'tonightcandle': 0.0, 'sir': 0.0, '49': 0.0, 'began': 0.0, 'six': 0.0, '40': 0.0, 'westminster': 0.0, 'hot': 0.0, 'became': 0.0, 'which': 0.0, 'academy': 0.0, 'party': 0.0, 'you': 0.0, 'movements': 0.0, 'something': 0.0, 'worldwide': 0.0, '200': 0.0, 'princess': 0.0, 'elizabeth': 0.0, 'singles': 0.0, 'who': 0.0, 'actor': 0.0, '1967': 0.0, 'most': 0.0, 'rolling': 0.0, 'such': 0.0, 'song': 0.0, 'the': 0.0, 'queens': 0.0, 'a': 0.0, 'singer': 0.0, 'center': 0.0, 'third': 0.0, '2012he': 0.0, '1976': 0.0, 'later': 0.0, 'reginald': 0.0, 'order': 0.0, '2002': 0.0, 'charitable': 0.0, 'wind': 0.0, '2004': 0.0, '2005': 0.0, 'entered': 0.0, '2008': 0.0, 'having': 0.0, 'furnish': 0.0}]